html {
    --txt-color: #2D2926FF;
    --red-bg: #e94b3c;
}

html,
body,
#content,
#sushi-bg {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    min-width: 1170px;
    min-height: 750px;
}

#sushi-bg {
    box-sizing: border-box;
    position: absolute;
    opacity: 1;
    top: 106px;
    height: calc(100% - 106px);
    z-index: -1;
}

nav {
    background-color: var(--red-bg);
    padding: 15px 50px;
    background: linear-gradient(var(--txt-color), 25%, var(--red-bg), 85%, var(--txt-color));

    display: grid;
    grid-template: 1fr / 1fr 2fr;
}

.header {
    display: flex;
}

#sushi-icon {
    height: 75px;
}

nav h1 {
    margin: 0;
    font-size: 50pt;
    color: var(--txt-color );
    min-width: 328px;
    align-self: center;
    margin-left: 10px;
}

nav ul {
    list-style: none;
    font-size: 30pt;
    color: var(--txt-color);
    margin: 0;
    align-self: center;  

    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

li a {
    text-decoration: none;
    color: var(--txt-color);
}

li a:hover {
    display: inline-block;
    transform: scale(1.2);
}

/** Start of About Section */

.about,
.contact,
.menu {
    display: flex;
    flex-flow: column;
    align-items: center;
    
    margin-left: 250px;
    margin-top: 65px;
    width: 750px;

    color: var(--txt-color);
    text-shadow: 1px 1px 1px black;
    background-color: rgba(233, 75, 60, .6);
    border-radius: 25px;

    z-index: 1;
}

.about h1,
.contact h1,
.menu h1 {
    font-size: 40pt;
}

.about-txt {
    font-size: 20pt;
    margin-bottom: 15px;
}

h2 {
    margin: 0;
}

#sushi-chef {
    width: 500px;
    border-radius: 10px;
    border: 1px solid var(--txt-color);
}

#order-btn {
    height: 40px;
    width: 100px;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 2px 2px 2px gray;

    margin: 15px 0px;
}

#order-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#order-btn:active {
    transform: scale(1);
}

/** Start of Contact Section */
.contact {
    display: grid;
    row-gap: 20px;
}

.contact h1 {
    justify-self: center;
    margin: 20px 0 0;

}

.contact > div {
    margin-left: 150px;
}

.location,
.time,
.telephone,
.email {
    display: flex;
    align-items: center;
    gap: 10px;
}

#location-pin,
#clock-icon,
#phone-icon,
#email-icon {
    width: 30px;
}

#clock-icon {
    align-self: flex-start;
}

textarea {
    resize: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;

    justify-self: center;
    margin-bottom: 20px;

    color: black;
    text-shadow: none;
}

form h2 {
    align-self: center;
}

form div {
    display: flex;
    gap: 10px;
}

form div input {
    margin-left: auto;
}

form button {
    width: 120px;
    height: 25px;
    align-self: center;
}

form button:hover {
    cursor: pointer;
}

form button:active {
    transform: scale(0.9);
}

/** Start of Menu Section */
.menu {
    width: max(1050px, 55%);
    height: 735px;
    overflow-y: scroll;

    margin-top: 35px;
    margin-left: 30px;

    padding: 0 25px 20px;

    display: flex;
    flex-direction: column;
}

.menu > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(435px, 1fr));
    gap: 35px;
    
    width: 100%;
    height: 100%;
}

.menu > div img {
    width: 300px;
    height: 200px;
    border-radius: 15px;
}

.menu > div > div {
    display: flex;
    gap: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name-price {
    padding: 0 10px;
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.description {
    color: black;
    text-shadow: none;
    width: 150px;
    font-size: 20px;
    font-weight: 550;
    padding: 5px 0;
}

.description p {
    margin: 0;
}